.password-input {
    position: relative;
    width: 100%;
    height: fit-content;
}

.show-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}
