:root {
    --primary-r: 238;
    --primary-g: 77;
    --primary-b: 45;
    --primary: rgb(var(--primary-r), var(--primary-g), var(--primary-b));
    --primary-25: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.25);
    --primary-50: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.5);
    --primary-75: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.75);

    --secondary-r: 58;
    --secondary-g: 58;
    --secondary-b: 58;
    --secondary: rgb(var(--secondary-r), var(--secondary-g), var(--secondary-b));
    --secondary-25: rgba(var(--secondary-r), var(--secondary-g), var(--secondary-b), 0.25);
    --secondary-50: rgba(var(--secondary-r), var(--secondary-g), var(--secondary-b), 0.5);
    --secondary-75: rgba(var(--secondary-r), var(--secondary-g), var(--secondary-b), 0.75);

    vaf: rgb(243, 107, 80);

    --text-primary: rgb(58, 58, 58);
    --text-primary-50: rgba(0, 0, 0, 0.5);
    --text-secondary: white;
    --text-secondary-50: rgba(255, 255, 255, 0.5);
    --text-hightlight: var(--secondary);
    --background: white;

    --hover-color: #fafafa;
    --error-color: #ea4c89;
    --text-error: white;

    //shadow
    --shadow: 5px 5px 10px var(--text-primary-50);
    --shadow-menu: rgba(var(--secondary-r) var(--secondary-g) var(--secondary-b) / 12%) 0px 2px 12px;
    --shadow-circle: 3px 3px 3px var(--text-primary-50);

    --hover-item: var(--secondary-25);
    --active-item: var(--secondary-75);
}
