:root {
    --header-height: 60px;
    --body-height: calc(100vh - var(--header-height));

    --content-width: 96%;

    --font-size: 16px;
    --font-size-medium: 20px;
    --font-size-large: 24px;
    --font-size-larger: 30px;
    --font-lighter: 400;
    --font-normal: 500;
    --font-bold: 600;
    --font-bolder: 700;
    --icon-small: var(--font-size);
    --icon-medium: calc(var(--font-size) * 1.5);
    --icon-large: calc(var(--font-size) * 2);

    --line-height: 1.2;

    --border-radius: 10px 0;

    --item-padding: 9px 18px;

    --menu-max-width: min(360px, 100vw);
    --menu-max-height: calc(100vh - var(--header-height) * 1.5);
    --menu-border-radius: 20px 0;

    --scrollbar-width: 8px;
    --gap: 12px;

    --image-ratio: 3 / 4;
}

@media (max-width: 480px) {
    :root {
        --font-size: 14px;
    }
}
