.default-input {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.shadow {
        box-shadow: 5px 10px 9px 0px #00000040;
    }

    .required-note {
        color: var(--cl-favorite);
    }

    &.no-label label {
        visibility: hidden;
    }

}

.default-input label {
    font-size: 18px;
    font-weight: 700;
}

.default-input input {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid var(--text-color-50);
}

.default-input:focus-within input {
    border-color: var(--text-color);
}
