.custom-input {
    --padding: 20px;
    position: relative;
    min-width: 100px;
    background-color: transparent;
    border-radius: 999px;
    border: 1px solid var(--text-color);
    padding: 2px var(--padding);
    box-shadow: 5px 5px 5px 0px #00000040;

    .required-note {
        color: var(--cl-favorite);
        font-size: var(--font-size);
    }

    &.small input {
        padding: 5px 0;
    }

    &.medium input {
        padding: 10px 0;
    }

    &.large input {
        padding: 15px 0;
    }
}

.custom-input label {
    position: absolute;
    top: 50%;
    left: var(--padding);
    padding: 0 3px;
    transform: translateY(-50%);
    font-weight: 500;
    transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease, background-color 0.2s ease;
}

.custom-input input {
    padding: 10px 0;
    height: 100%;
    width: 100%;
    font-size: var(--font-size);
}

.label-active {
    top: 0;
    transform: translateY(-50%);
    font-size: calc(var(--font-size) - 2px);
    font-weight: 400;
    background-color: var(--bg-primary);
    text-shadow: 0 0 0px #ffff33, 0 0 1px #ffff33, 0 0 2px #ffff33, 0 0 3px #ffff33, 0 0 4px #ffff33, 0 0 5px #ffff33,
        0 0 6px #ffff33, 0 0 7px #ffff33;
}

.custom-input input:not(:placeholder-shown) + label {
    @extend .label-active;
}

.custom-input:focus-within label {
    @extend .label-active;
}
