.custom-input {
    --padding: 14px;
    position: relative;
    min-width: 100px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px var(--padding);

    .required-note {
        color: var(--cl-favorite);
        font-size: var(--font-size);
    }

    &.small input {
        padding: 5px 0;
    }

    &.medium input {
        padding: 10px 0;
    }

    &.large input {
        padding: 15px 0;
    }

    &.active {
        border: 1px solid var(--cl-hightlight);
    }
}

.custom-input label {
    position: absolute;
    top: 50%;
    left: var(--padding);
    padding: 0 3px;
    transform: translateY(-50%);
    font-weight: 500;
    color: var(--text-color);
    transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease, background-color 0.2s ease;
}

.custom-input input {
    padding: 10px 0;
    height: 100%;
    width: 100%;
    font-size: var(--font-size);
}

.custom-input:focus-within {
    border: 1px solid black;
}

.label-active {
    display: none;
}

.custom-input input:not(:placeholder-shown) + label {
    @extend .label-active;
}

.custom-input:focus-within label {
    @extend .label-active;
}

.message {
    width: 100%;
    padding-left: 5px;
    color: var(--secondary-75);
    font-size: 13px;
    margin-top: 4px;
}

.error-message {
    color: var(--error-color);
}