.register_page {
    height: calc(100vh - calc((--header-height) + 10px));
    background-color: rgb(238, 77, 45);
}

.smallContainer {
    width: 1200px;
    height: 700px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
}

.mainContainer {
    margin-left: auto;
    margin-right: 30px;
    width: 633px;
    height: 605px;
    padding: 20px;
    border-radius: 8px;
}
