.breadcrumb {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #fafafa;
    height: 65px;
}

.breadcrumb-item {
    padding: 5px 10px;
    background-color: transparent;
    color: var(--text-primary);
    font-weight: 600;
    font-size: 18px;

    &:hover {
        color: var(--secondary);
        text-decoration: underline;
    }

    &.active {
        color: var(--secondary);
        text-decoration: none;
        pointer-events: none;
    }
}
