.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    color: var(--text-color);
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    @extend .medium;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.curved {
        border-radius: 999px;
    }

    &.circle {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
}

// Icons
.icon {
    display: inline-block;
    width: fit-content;
    text-align: center;
}

// .content {
//     flex: 1;
//     display: flex;
//     align-items: center;
//     justify-content: start;

//     &.center {
//         justify-content: center;
//     }
// }

.icon + .content,
.content + .icon {
    margin-left: calc(var(--font-size) / 2);
}



// Type

.normal {
    &:hover {
        background-color: var(--hover-item);
    }
}

.text {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid;

    &:hover{
        background-color: var(--hover-item);
    }
    &.active {
        color: var(--text-color);
        background-color: var(--cl-secondary);
    }
}

.primary {
    background-color: var(--cl-primary);
    color: white;

    &:hover,
    &.active {
        opacity: 0.91;
    }
}

.secondary {
    background-color: var(--cl-secondary);
    color: var(--text-color);

    &:hover,
    &.active {
        background-color: var(--cl-primary);
    }
}

.no-background {
    background-color: transparent;
    color: var(--text-color);

    &:hover,
    &.active {
        color: var(--cl-primary);
    }
}

// Size
.medium {
    padding: 9px 18px;
    font-size: 16px;
}

.small {
    padding: 6px 12px;
    border-radius: 4px;
}

.large {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    border-width: 2px;
}

.no-click {
    pointer-events: none;
}
