.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: var(--secondary-50);
    overflow-y: scroll;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;

    .title {
        flex: 1;
    }

    .close-btn {
        background-color: var(--secondary);
        color: var(--text-secondary);

        &:hover {
            background-color: var(--primary);
            color: var(--text-primary);
        }
    }
}

.content {
    min-height: 100vh;
    overflow-x: hidden;
}

.content.header {
    padding-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
}
