// Price
.price {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.price-discount {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.price-header {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .price-title {
        font-weight: 500;
    }

    .price-options {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.price-body {
    width: 100%;
}

.price-last {
    width: 100%;
}

.right {
    align-items: center;
    justify-content: center;
}
