.table-label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.table-data {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-bottom: 10px;
}