.product-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}

.content-left,
.content-right {
    width: 50%;
}

.content-right {
    display: flex;
    gap: 20px;
}

.content-bottom {
    display: block;
}

.similar {
    margin-top: 20px;
    padding: 1.2rem 4px 1.2rem 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 50px;
    margin-bottom: 30px;

    h3 {
        color: rgba(0, 0, 0, 0.4);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 18px;
        float: left;
    }

    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 6px;
        height: 100%;
        background-color: var(--primary-color);
      }
}


// Responsive
// Mobile and Minitablet
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 10px;
    }

    .content-left,
    .content-right {
        width: 100%;
    }
}

// Mobile
@media (max-width: 480px) {
}

// Minitablet
@media (min-width: 480px) and (max-width: 768px) {
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
}

// Laptop
@media (min-width: 1024px) and (max-width: 1280px) {
}
